.tituloMain{
font-size: 2.6em;
color: #F2B705;
font-weight: 700;
}
.textoMain{
width: 90%;
}
.fontTitulos{
font-family: 'Titan One', cursive;
font-weight: 400;
}
.fontTexto{
font-family: 'Noto Sans', sans-serif;
font-size: 1em;
font-weight: 400;
}
.tituloSection{
font-size: 2.5em;
color: #8C0303;
width: 100%;
margin: auto;
}
.tituloSection3, .tituloAside2{
margin-bottom: .7em !important;
}